In [6]:
import os, sys
%pylab inline
import pandas as pd
project_path = "/Users/stootoon/git/presentation-scheduler"

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [25]:
data = pd.read_csv(project_path + '/data.csv')
earliest_date = "01.01.2020"
# Any columns that end in _last, replace NaNs with the earliest date
for col in data.columns:
    if col.endswith("_last"):
        data[col] = data[col].fillna(earliest_date)

# Find columns that end with _date. These contain dates for each schedule.
# Extract the non-nan values
dates = data.columns[data.columns.str.endswith("_date")]
schedules = [col.split("_date")[0] for col in dates]
names = sorted(data["name"].unique())

In [26]:
schedule_dates = {name: data[name + "_date"].dropna().unique() for name in schedules}

In [27]:
print(names, schedules)

['Carles', 'Cecilia', 'Fred', 'Hugo', 'Jake', 'Jakob', 'James', 'Mihaly', 'Olivia', 'Safe', 'Sina', 'William', 'Yikai', 'Yuxin'] ['proj_pres', 'jc']

In [ ]:
def objective(last_pres, schedule_dates, A, be):
    n_sched = len(A)
    obj = 0
    for sched_mu, Amu_md in enumerate(schedules, A):
        Lmu_m = last_pres[sched_mu]
        Dmu_d = schedule_dates[sched_mu]        
        R = Lmu_m[:, None] - Dmu_d[None, :]
        obj += be[0] * sum(Amu_md * R**2)

    for sched_mu, Amu_md in enumerate(schedules, A):
        Dmu_d = schedule_dates[sched_mu]
        for sched_nu, Anu_mt in enumerate(schedules, A):
            Dnu_t = schedule_dates[sched_nu]
            R = Dmu_d[:, None] - Dnu_t[None, :]
            for m in range(names):
                AA = Amu_md[m][:, None] * Anu_mt[m][None, :]
                obj += be[1] * sum(AA * R**2)
            # obj += be[1] * sum(Amu_md * Anu_mt * R**2)

    return obj
    

        for nu, Anu in enumerate(A):
            if mu == nu:
                continue
            for i, date in enumerate(schedule_dates):
                if last_pres[mu] == date:
                    obj += be[mu, nu] * (A[mu, nu] + A[nu, mu])

In [21]:
schedule_dates

{'proj_pres': array(['10.04.2025', '08.05.2025', '12.06.2025', '10.07.2025',
        '11.09.2025', '09.10.2025', '13.11.2025'], dtype=object),
 'jc': array(['24.04.2025', '29.05.2025', '26.06.2025', '31.07.2025',
        '25.09.2025', '30.10.2025', '27.11.2025'], dtype=object)}

In [15]:
data

       name proj_pres_date proj_pres_last     jc_date     jc_last
0    Carles     10.04.2025     11.04.2024  24.04.2025  27.03.2025
1    Mihaly     08.05.2025     14.12.2023  29.05.2025  27.06.2024
2      Sina     12.06.2025     13.03.2025  26.06.2025  27.02.2025
3      Fred     10.07.2025     12.12.2024  31.07.2025  01.01.2020
4      Safe     11.09.2025     21.11.2024  25.09.2025  18.07.2024
5    Olivia     09.10.2025     31.10.2024  30.10.2025  02.05.2024
6   William     13.11.2025     23.01.2025  27.11.2025  30.05.2024
7      Hugo            NaN     01.01.2020         NaN  01.01.2020
8     Jakob            NaN     01.01.2020         NaN  01.01.2020
9     Yuxin            NaN     01.01.2020         NaN  24.04.2025
10  Cecilia            NaN     13.06.2024         NaN  25.01.2024
11    Yikai            NaN     01.01.2020         NaN  05.12.2024
12     Jake            NaN     01.01.2020         NaN  26.09.2024
13    James            NaN     01.01.2020         NaN  30.01.2025